.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}
.title {
    font-family: "Merienda One", sans-serif;
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    opacity: 0.6;
    z-index: -1;
}
.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
}
.caption {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}
.center {
    display: block;
    margin: 0 auto;
}
.compatify_btn {
    border-radius: 24px;
}
.match_div {
    max-width: 15%;
    font-size: 10px;
}
.match_btn {
    font-size: 10px;
    border-radius: 20px;

}