

.select_container {

}
.caption {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}
.select_btn {
	border-radius: 24px;
}
.playlist_list {

}
#logo {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
}

select {
	font-family: "Lato", sans-serif;
    font-size: 14px;
    color: white;
    background-color: #5cb85c;
    max-width: 80%;
    overflow-x: auto;
    /*height: 80% !important;*/
}

option {
	margin-top: 5px;
	margin-left: 5px;
}