

.sort_option{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.caption {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

#logo {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
}

select {
	font-family: "Lato", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #5cb85c;
    overflow-x: auto;
    /*height: 80% !important;*/
}

option {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
}