.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}
.title {
    font-size: 100px;
}
#logo {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 150px;
}
.center {
    display: block;
    margin: 0 auto;
}
.caption {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}