body {
    background-color: #55555;
}
.title {
    font-family: "Lato", sans-serif;
    color: black;
    font-size: 20px;

}
#caption {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}
