.title {
    font-size: 50px;
    font-family: Lato;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.liquidFillGaugeText { 
    font-family: Helvetica; font-weight: bold; 
}
.caption {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 10%;
}