<style>
    body {
        background-color: #433045;
    }
    .title {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: '20px';
    }
    #caption {
        font-family: 'Open Sans', sans-serif;
        font-size: '10px';
    }
</style>