<!DOCTYPE html>
<html>

    <head>
        <title>Compatify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='first.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='options.css') }}>
    </head>

    <body>
        <img src={{ url_for('static', filename='concert_background.png') }} class="bg">
        <div class="overlay"></div>
        <div class="container">
        <img id="logo" class="center" src={{ url_for('static', filename='twoheadphones.png') }}>
        <br>
        <p class="caption text-center"> {{message}} </p>
        <br>
        <br>
        <div class=options_buttons>
            <form>
                <div class="text-center">
                    {% if match %}
                        <a type="button" class="btn btn-success compatify_btn" href="/match">
                            <div class="caption">Go Back to Start</div>
                        </a>
                    {% else %}
                        <a type="button" class="btn btn-success compatify_btn" href="/">
                            <div class="caption">Go Back to Start</div>
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </body>
</html>