<!DOCTYPE html>
<html>

    <head>
        <title>Compatify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='first.css') }}>
    </head>

    <body>
        <img src={{ url_for('static', filename='concert_background.png') }} class="bg">
        <div class="overlay"></div>

        <div class="container">

            <img id="logo" class="center" src={{ url_for('static', filename='twoheadphones.png') }}>

            <p class="title text-center">Compatify</p>
            <br>
            <p class="caption text-center">{{message}}</p>
            <br>
            <br>
            <form><div class="text-center"><a type="button" class="btn btn-success compatify_btn" href={{auth_url}}><div class="caption">LOG IN WITH SPOTIFY</div></a></div></form>
            <br>
            <br>
            {% if match %}
                <form class="match_div">
                    <div>
                        <p class="caption"></p>
                        <a type="button" class="btn btn-success match_btn" href="/">
                            <div> Compare with a friend instead</div>
                        </a>
                    </div>
                </form>
            {% endif %}
        </div>
    </body>
</html>