<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Comparify Results</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        
        <script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>





        <script src={{ url_for('static', filename='liquidFillGauge.js') }} language="JavaScript"></script>
        
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='first.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='last.css') }}>
    </head>
    
    <body>
        <img class="bg" src={{ url_for('static', filename='concert_background_blurred.png')}} >
        <div class="overlay"></div>
        <p class="title text-center">Compatify</p>
        
        <div class="row">
            <svg id="songCompat" width="100%" height="250" align="center"></svg>
            <script language="JavaScript">
            
            var compatPercent = {{score}};
            var songsMatched = {{count}} + " songs matched";
                
            var config1 = liquidFillGaugeDefaultSettings();
            config1.circleColor = "#000099";
            config1.textColor = "#000099";
            config1.waveTextColor = "#FFAAAA";
            config1.waveColor = "#FFDDDD";
            config1.circleThickness = 0.1;
            config1.textVertPosition = 0.5;
            config1.waveAnimateTime = 1000;
            var gauge1 = loadLiquidFillGauge("songCompat", compatPercent, config1);
            </script> 
            
            <p id="songsMatchedReport" class="caption text-center"></p> 
            <script>
                document.getElementById("songsMatchedReport").innerHTML = songsMatched;
            </script>
        </div>
        
        <script>
            var topArtists = ["Joe", "Cathy", "Joon", "Celia", "Advith"]
        </script>
        
        <h2 class="caption text-center">Top Five Shared Artists (Songs in Common)</h2>
        
        <div class="artistsDiv">
            {% for artist in artists %}
                <p class="artist text-center">{{artist[0]}} ({{artist[1]}})</p>
            {% endfor %}
        </div>
        
         <br>
         <br>
         <form><div class="text-center"><a href={{ success_page }} class="btn btn-success compatify_btn"><div class="button_text">Make Playlist of Shared Songs</div> </a></div></form>
        <br>
        {% if match %}
            <form><div class="text-center"><a type="button" class="btn btn-success compatify_btn" href="/match"><div class="button_text">Match Again</div></a></div></form>
            <br>

            <form class="match_div">
                <div>
                    <p class="caption"></p>
                    <a type="button" class="btn btn-success match_btn" href="/">
                        <div class="button_text"> Compare with a friend instead</div>
                    </a>
                </div>
            </form>
        {% else %}
            <br>
            <form><div class="text-center"><a type="button" class="btn btn-success compatify_btn" href="/"><div class="button_text">Go Back to Start</div></a></div></form>
        {% endif %}
    </body>    

</html>