<!DOCTYPE html>
<html>

    <head>
        <title>Compatify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='first.css') }}>
    </head>

    <body>
        <img src={{ url_for('static', filename='concert_background.png') }} class="bg">
        <div class="overlay"></div>
        <div class="container">
        <img id="logo" class="center" src={{ url_for('static', filename='twoheadphones.png') }}>
        <br>
        <p class="caption text-center">A playlist of your shared songs has been added to your account!</p>
        <br>
        <p class="caption text-center">{{warning}}</p>
        <br>
        {% if match %}
            <form><div class="text-center"><a type="button" class="btn btn-success compatify_btn" href="/match"><div class="button_text">Match Again</div></a></div></form>
            <form class="match_div">
                <div>
                    <p class="caption"></p>
                    <a type="button" class="btn btn-success match_btn" href="/">
                        <div> Compare with a friend instead</div>
                    </a>
                </div>
            </form>
        {% else %}
            <form><div class="text-center"><a type="button" class="btn btn-success compatify_btn" href="/"><div class="caption">Go Back to Start</div></a></div></form>
        {% endif %}
        </div>
    </body>
</html>